@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome, this is a webpage for storing employee data.</h1>
    <br>
    <hr class="my-4">

    <h4 class="lead">Effortlessly manage employee records, contracts, and other work related details in one place.</h4>

    <div class="mt-4">
        <p>📦 Securely store and manage employee records in one place!</p>
        <p>🔍 Keep track of employee data with ease.</p>
        <p>⚡ Quickly update records and manage contracts.</p>
    </div>

    <hr class="my-4">

    <a asp-controller="Employees" asp-action="Index" class="btn btn-primary btn-lg">View Employees</a>
</div>