@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 pt-5">Welcome, this is a webpage for storing employee data.</h1>
    <br>
    <hr class="my-4">

    <h4 class="lead pb-4 pt-3"><strong>Effortlessly manage employee records, contracts, and other work related details in one place.</strong></h4>

    <div class="my-4">
        <p class="py-3">📦 Securely store and manage employee records, all in one place!</p>
        <p class="py-3">🔍 Keep track of employee data with ease.</p>
        <p class="py-3">⚡ Quickly update records and manage contracts.</p>
    </div>

    <hr class="my-4">

    <a asp-controller="Employees" asp-action="Index" class="btn btn-primary btn-lg py-2 hover-text-color">View Employees</a>
</div>