@model IEnumerable<CRUD_Employees.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary btn-md py-1 px-3 hover-text-color">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
			<th><h2>Employees</h2></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="location.href='@Url.Action("Details", new { id = item.Id })';" style="cursor: pointer;">
                <td class="mb-4 employee-td-font">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
            </tr>
}
    </tbody>
</table>
